<launch>
<!--     <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="true"/>
    </include>
 -->
    <param name="robot_description_sdf" textfile="$(find cerberus_gazebo)/models/rover/model_working.sdf" />
    
    <node
        name="spawn_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-sdf -param robot_description_sdf -model artpark_bot -x 0.0 -y 0.0 -z 0.05" output="screen">
    </node>

    <!-- Spawn Controllers -->
    <!-- <include file="$(find skid4wd_description)/launch/controller.launch"/> -->
</launch>
